<div class="portfolio-container">
    <h2>Portfolio</h2>
    <p class="portfolio-sub">A collection of recent projects and collaborations.</p>
    <div class="portfolio-grid">

        <div class="portfolio-card">
        <figure>
            <img src="../img/green-plant-wall.jpeg" alt="Vertical garden wall covered in various green plants." />
            <figcaption></figcaption>
        </figure>
        <p class="portfolio-card-name">Green Plant Wall</p>
    </div>
    
        <div class="portfolio-card">
        <figure>
            <img src="../img/solar-panel-garden.jpg" alt="Aerial view of rows of solar panels surrounded by green grass." />
            <figcaption></figcaption>
        </figure>
        <p class="portfolio-card-name">Solar Panel Garden</p>
    </div>

        <div class="portfolio-card">
        <figure>
            <img src="../img/community-farmers-market.jpg" alt="Inside a large farmers market with various vendors displaying fresh vegetables in wooden crates."/>
            <figcaption></figcaption>
        </figure>
       <p class="portfolio-card-name">Community Farmer's Market</p>
    </div>

        <div class="portfolio-card">
        <figure>
            <img src="../img/vr-simulation.jpg" alt="Peraon wearing a VR headset with binary code projected behind them."/>
            <figcaption></figcaption>
        </figure>
       <p class="portfolio-card-name">VR Simulator</p>
    </div>

        <div class="portfolio-card">
        <figure>
            <img src="../img/arts-and-crafts-table.jpg" alt="Overhead view of a crafts table with candles, gemstones, botanical materials and dyes."/>
            <figcaption></figcaption>
        </figure>
        <p class="portfolio-card-name">Arts and Crafts Table</p>
    </div>

        <div class="portfolio-card">
        <figure>
            <img src="../img/zen-garden.jpg" alt="Japanese zen garden with raked gravel, large stones and green maple trees."/>
            <figcaption></figcaption>
        </figure>
        <p class="portfolio-card-name">Zen garden</p>
    </div>

    </div>
</div>